html,
body,
ul,
ol,
p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  // height: 100%;
  min-height:100%;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
body {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
#emergency {
  width: 100%;
  height: 100%;
  font-size: 16px;
}
ul,
ol {
  list-style-type: none;
}

select {
  /*清除select的边框样式 */
  border: none;
  /*清除select聚焦时候的边框颜色*/
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}


option {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari 和 Chrome */
  appearance: none;
  outline: none;
  border: 0;
  font-size: 16px !important;
}

/* --背景色字体颜色--*/
option:hover {
  color: #ffffff;
  background-color: #ffffff;
  outline: none;
  border: 0;
}